<!-- <div *ngIf="showProperties">-->
  <div class="imageWrapper">
    <img src="{{heroToDisplay.urlImage}}" alt="">
  </div>

  <h2>Hero Name: {{(heroToDisplay).name}}</h2>
  <h4>Class {{(heroToDisplay).category}}</h4>
  <hr>
  <h4>{{(heroToDisplay).description}}</h4>
  <h3>Stats:</h3>
  <h5>Health: {{(heroToDisplay).health}}</h5>
  <h5>Attack: {{(heroToDisplay).attack}}</h5>
  <h5>Level: {{(heroToDisplay).stars}}</h5>
  <h5>This hero save World {{(heroToDisplay).worldSaveTimes}} times;)</h5>
  <h3>Additional abilities:</h3>
  <div *ngFor="let ability of heroToDisplay.abilities">
    <h5>{{ability}}</h5>
  </div>
  <h3>Related champions, that give synergy bonuses:</h3>
  <div *ngFor="let friend of heroToDisplay.friends">
    <h5>{{friend}}</h5>
  </div>
  <div *ngIf="currentRoute === 'admin'">

    <app-edit-hero [selectedHero]="heroToDisplay"></app-edit-hero>
  </div>

<!-- </div> -->
<!-- <div *ngIf="edit">
</div> -->
<!-- <button (click)="beginDeletingRecipe(recipeToDisplay)" class="btn">Delete</button> -->
