<!-- <div *ngIf="showProperties">-->
  <div class="imageWrapper">
    <img src="{{heroToDisplay.urlImage}}" alt="">
  </div>
  <h2>{{(heroToDisplay).name}}</h2>
  <h4>{{(heroToDisplay).category}}</h4>
  <h5>{{(heroToDisplay).description}}</h5>
  <h5>{{(heroToDisplay).health}}</h5>
  <h5>{{(heroToDisplay).attack}}</h5>
  <h5>{{(heroToDisplay).stars}}</h5>
  <h5>{{(heroToDisplay).worldSaveTimes}}</h5>

  <div *ngFor="let ability of heroToDisplay.abilities">
    <h6>{{ability}}</h6>
  </div>
  <div *ngFor="let friend of heroToDisplay.friends">
    <h6>{{friend}}</h6>
  </div>
  <div *ngIf="currentRoute === 'admin'">
    
    <app-edit-hero [selectedHero]="heroToDisplay"></app-edit-hero>
  </div>

<!-- </div> -->
<!-- <div *ngIf="edit">
</div> -->
<!-- <button (click)="beginDeletingRecipe(recipeToDisplay)" class="btn">Delete</button> -->
