<div *ngIf="currentRoute ==='/filter-hero'">
  <select (change)="onChange($event.target.value)">
   <option value="allHeroes" selected="selected">All Heroes</option>
   <option [value]="Cosmic">Cosmic</option>
   <option [value]="Mutant">Mutant</option>
   <option [value]="Mystic">Mystic</option>
   <option [value]="Science">Science</option>
   <option [value]="Skill">Skill</option>
   <option [value]="Tech">Tech</option>
 </select>
</div>
<div class="head"></div>
<div class="wrapper">
  <div *ngFor="let hero of heroes | async">
    <div class="thumbnailWrapper">
      <img src="{{hero.urlImage}}" alt="">
    </div>
    <h3 (click)="goToHeroDetailPage(hero)">{{hero.name}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      <hr>
      <!-- <button (click)="editHero()" class="btn">Edit</button> -->
      <button (click)="deleteHero(hero)" class="btn">Delete</button>
      <app-edit-hero [selectedHero]="hero"></app-edit-hero>
    </div>
  </div>
</div>
